<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>GMJuiceRound</string>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>GMJuice uses the microphone to detect hits and misses on steel targets by analyzing the sound of each shot.</string>
</dict>
</plist>
